<ion-header [translucent]="true" color="primary">
  <ion-toolbar color="primary">
    <ion-title>
      OCR
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openPopoverMenu()">
        <ion-icon name="settings-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="button">
    <ion-button (click)="takePicture()" size="large">
      <ion-icon name="camera-outline"></ion-icon> &nbsp;
      Scan a Document
    </ion-button>
  </div>
  <ion-list-header>
    <ion-icon name="documents-outline"></ion-icon>
    <ion-label>Scan History</ion-label>
  </ion-list-header>
  <ion-list>
    <ion-item *ngFor="let scan of oldScans">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label class="ion-text-wrap"><pre>{{ scan }}</pre></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
